* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --gray-color_0: #2b2c46;
  --gray-color_1: #2b2c46;
  --gray-color_2: #1f2035;
  --gray-color_3: #030423;
  --gray-color_4: rgb(153, 153, 153);
  --black-color: rgb(10, 10, 10);
  --white-color: rgb(245, 245, 245);
  --orange-color: #fa512f;
  --gray-color_transparent: #2b2c469d;
}

body {
  width: 100vw;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--gray-color_1);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.button {
  border: none;
  border-radius: 6px;
  background-color: var(--orange-color);
  padding: 8px 16px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  width: max-content;
  min-width: 80px;
  transition: transform 200ms ease-out;
  box-shadow: 0px 6px 10px -2px var(--gray-color_3);
}

.button:hover {
  cursor: pointer;
  transform: scale(0.94);
  box-shadow: 0px 2px 10px -2px var(--gray-color_3);
}

.button_secondary {
  border: solid 1px var(--orange-color);
  background-color: transparent;
  color: var(--orange-color);
}

.input {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  color: var(--gray-color_3);
}
.input:focus {
  border: none;
  outline: none;
}

.modal {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.umbrella {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: var(--gray-color_transparent);
}

.admin-panel {
  width: max-content;
  height: max-content;
  border-radius: 8px;
  background-color: var(--gray-color_2);
  padding: 32px 40px;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 32px;
  position: relative;
  z-index: 10;
}

.admin-panel__button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
}

.admin-panel__field-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.admin-panel__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--gray-color_2);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 1px 2px 10px -1px var(--black-color);
}

.box__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--white-color);
}

.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.box__picture {
  width: fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}

.image.hidden {
  display: none;
}

.box__picture:hover {
  cursor: pointer;
}

.counter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  gap: 4px;
  align-items: baseline;
  color: var(--gray-color_4);
}

.counter__value {
  font-size: 40px;
  font-weight: 600;
  color: var(--white-color);
}

.aside {
  width: 200px;
  height: 100vh;
  padding: 18px 0;
  background-color: var(--gray-color_3);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.item {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--white-color);
  border-radius: 8px;
}

.highlight {
  color: var(--orange-color);
}

.item:hover {
  cursor: pointer;
  background-color: var(--gray-color_1);
  color: var(--orange-color);
}
